/* ------- страница kitchen ------- */

@media (max-width: 1334px) {
    .navigation-right{
        padding-right: 15px;
    }
}

@media (max-width: 1220px) {
    .column {
        width: 33%;
    }

    #border-3 {
        display: none;
    }

    .navigation-left {
        width: 33%;
    }

    .navigation-center {
        width: 33%;
    }

    .navigation-right {
        width: 33%;
    }
    
}

@media (max-width: 1024px) {
    .column {
        width: 33%;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .column {
        width: 50%;
    }

    #border-2 {
        display: none;
    }

    .navigation-content {
        flex-direction: column;
    }

    .navigation-left {
        margin-bottom: 50px;
    }

    .navigation-center {
        margin-bottom: 12px;
    }

    .navigation-right {
        width: 100%;
    }

    .products-right {
        display: none;
    }
}

@media (max-width: 577px) {
    .column {
        width: 50%;
    }

    .header__nav {
        display: none;
    }

    .burger__menu {
        position: relative;
        width: 55px;
        height: 55px;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        height: 2px;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 20px;
        width: 35px;
    }

    .burger__line:nth-child(2) {
        bottom: 23px;
        left: 34px;
        width: 22px;
    }

    .header-img, .footer-logo {
        width: 80px;
        height: 46px;
    }

    div.column.kitchen__item {
        width: 100%;
        margin-bottom: 44px;
    }
}

@media (max-width: 390px) {
    div.column.kitchen__item {
        width: 100%;
        margin-bottom: 44px;
    }
                        
}


/* ------- страница index ------- */


@media (max-width: 1580px) {
    .hero-title {
        font-size: 45px;
        line-height: 50px;
        
    }

    .hero-title-img {
        height: 32px;
        width: 70px;
    }
}

@media (max-width: 1220px) {
    #products-right {
        width: 33%;
    }

    .hero-title {
        padding: 0;
    }

    .products-title {
        font-size: 35px;
        line-height: 50px;
    }
    
}

@media (max-width: 1024px) {
    .head-left {
        display: none;
    }

    .hero-img {
        height: 100%;
    }

    .head-right {
        width: 100%;
        height: 100%;
    }

    .hero-right-img {
        display: flex;
    }

    .hero-center {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .hero-title {
        width: 75%;
    }    
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 577px) {
    .column {
        padding: 0;
    }

    .columns {
        margin: 0 -25px;
    }

    .head-right {
        padding: 0 15px;
    }

    .hero-title {
        width: 100%;
        text-align: left;
    } 

    .btn-link {
        display: none;
    }

    .btn-arrow {
        display: none;
    }

    .btn-arrow-hidden {
        display: flex;
        padding-top: 6px;
    }

    .hero-title {
        font-size: 40px;
        line-height: 45px;
    }

    .hero-btn-hidden {
        display: flex;
    }

    .products-center-img {
        order: -1;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .products-descr {
        width: 80%;
        margin-bottom: 32px;
    }

    .btn {
        justify-content: space-between;
        padding: 17px 20px;
        width: 100%;
        height: 70px;
        flex-direction: row;
    }

    .btn-descr {
        order: -1;
        margin-top: 8px;
    }

    .hero-footer-right {
        margin-top: 50px;
    }

    .hero-footer {
        flex-direction: column;
    }

    .products-contents {
        flex-direction: column;
    }

    .column.products-left.products-item.flex {
        width: 100%;
    }

    .column.products-center.products-item.flex {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .column {
        padding: 0;
    }

    .columns {
        margin: 0 -25px;
    }

    .head-right {
        padding: 0 15px;
    }

    .hero-title {
        font-size: 30px;
        line-height: 35px;
    }

    .hero-title-img {
        height: 20px;
        width: 60px;
    }

    .btn {
        padding: 9px 20px;
        height: 53px;
    }

    .products-contents {
        padding-top: 54px;
    }

    .hero-footer {
        margin-bottom: 54px;
    }

    .footer {
        margin-top: 54px;
    }

    .footer-contents {
        flex-wrap: wrap;
    }

    .footer-left {
        width: 50%;
    }

    .footer-center {
        width: 50%;
        justify-content: flex-end;
    }

    .footer-right {
        width: 100%;
    }
}

/*----------страница product------------- */



@media (max-width: 768px) {
    .navigation-title-img {
        display: none;
    }

    .navigation-title {
        font-size: 50px;
        line-height: 55px;
    }

    .portfolio-title {
        font-size: 32px;
        line-height: 40px;
    }

    .news-title {
        font-size: 32px;
        line-height: 40px;
    }
}


@media (max-width: 577px) {
    .navigation-title {
        font-size: 38px;
        line-height: 45px;
    }

    .product-items {
        margin-top: 20px;
    }

    .portfolio__content {
        flex-direction: column;
    }

    .portfolio__slider {
        width: 100%;
    }

    .portfolio__text {
        flex-wrap: wrap;
        order: 1;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    .portfolio__text-title {
        margin-bottom: 0;
    }

    .portfolio__slider-navigation {
        margin-left: auto;
    }

    .column.product-item {
        width: 100%;
    }

    .portfolio-title {
        font-size: 33px;
        line-height: 45px;
    }

    .portfolio__slider-arrow img {
        padding: 17px 21px;
    }


    .news-title {
        font-size: 30px;
        line-height: 50px;
    }

    .news-text {
        flex-direction: column;
    }

    .news-text-title {
        width: 100%;
    }

    .news-text-descr {
        width: 100%;
    }

    .news__slider-navigation {
        display: none;
    }

    .news__slider-navigation-mob {
        display: flex;
        margin-top: 20px;
    }

    .news__slider-prev-mob {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 60px;
        padding: 10px 0 7px;
        padding-left: 15px;
        width: 50%;
        margin-right: 10px;
    }

    .news__slider-next-mob {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 60px;
        padding: 10px 0 10px;
        padding-right: 15px;
        width: 50%;
        margin-left: 10px;
    }

    .news__slider-next-mob img {
        width: 8px;
        height: 14px;
        margin-left: auto;
    }
}

@media (max-width: 390px) {
    .container {
        max-width: calc(100vw - 40px);
        padding: 0;
        margin: 0 20px;
        width: 1440px;
    }

    .columns {
        margin: 0 -5px;
    }

    .column.navigation-left {
        width: 100%;
    }

    .navigation-title-img {
        display: none;
    }

    .navigation-title {
        font-size: 33px;
        line-height: 45px;
    }

    .product-items {
        margin-top: 20px;
    }

    .portfolio__content {
        flex-direction: column;
    }

    .portfolio__slider {
        width: 100%;
    }

    .portfolio__text {
        flex-wrap: wrap;
        order: 1;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    .portfolio__text-title {
        margin-bottom: 0;
    }

    .portfolio__slider-navigation {
        margin-left: auto;
    }

    .column.product-item {
        width: 100%;
    }

    .portfolio-title {
        font-size: 33px;
        line-height: 45px;
    }

    .portfolio__slider-arrow img {
        padding: 17px 21px;
    }

    .column.product-item {
        display: flex;
        flex-wrap: wrap;
    }

    h3.product-item-title {
        order: -1;
    }

    img.product-item-cross {
        margin-left: auto;
    }

    .btn-arrow {
        display: none;
    }

    .news-title {
        font-size: 30px;
        line-height: 50px;
    }

    .news-text {
        flex-direction: column;
    }

    .news-text-title {
        width: 100%;
    }

    .news-text-descr {
        width: 100%;
    }

    .news__slider-navigation {
        display: none;
    }

    .news__slider-navigation-mob {
        display: flex;
        margin-top: 20px;
    }

    .news__slider-prev-mob {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 60px;
        padding: 10px 0 7px;
        padding-left: 15px;
        width: 50%;
        margin-right: 10px;
    }

    .news__slider-next-mob {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 60px;
        padding: 10px 0 10px;
        padding-right: 15px;
        width: 50%;
        margin-left: 10px;
    }

    .news__slider-next-mob img {
        width: 8px;
        height: 14px;
        margin-left: auto;
    }
}

